# user specific
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/

# generated
/out/

# gradle
.idea/gradle.xml
.idea/libraries
.gradle
/build/

# java
*.class

# intellij
.idea/misc.xml

# plugins
.idea/markdown-navigator.xml
.idea/markdown-navigator/